* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
a {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
}
img.illustration {
  padding: 3rem 0;
  width: 90%;
  margin: 0 auto;
}
li {
  list-style: none;
}

h2 {
  text-align: center;
  font-size: 1.6rem;
}
p {
  font-size: .9rem;
}
img.icon {
  width: auto;
}
input[type=submit] {
  cursor: pointer;
  transition: opacity .3s ease-out
}
input[type=submit]:hover {
  opacity: .8;
}
@media (min-width: 769px) {
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
}